server:
  port: 9201

spring:
  application:
    name: im-server
  main:
    allow-circular-references: true
  threads:
    virtual:
      enabled: true
  data:
    redis:
      host: localhost
      port: 6379
      password: 34!@452#78563Q@!
      database: 5
      timeout: 5000ms
      lettuce:
        pool:
          max-active: 8
          max-wait: -1ms

netty:
  port: 9922
